@using CartasCredito.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cartas de Crédito</title>

    <script>
        var API_BASE_URL = "@Utility.HostUrl";
        var API_HOST_URL = "@Utility.HostUrl";
    </script>

    <script type="module" crossorigin src="@Utility.HostUrl/assets/index-8cd63538.js"></script>
    <link rel="stylesheet" href="@Utility.HostUrl/assets/index-78157d7d.css">
</head>
<body class="dx-viewport">
    @RenderBody()
</body>
</html>
